<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AKGEC-MCA</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="./img/Akgec_Logo.png" sizes="16x16" type="image/png">
    <!--bootstrapcdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--styling-->
    <link rel="stylesheet" href="./style/faculty_incentives.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
     <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            Faculty Incentives
          </h3>
        </div>
      </div>
        <div class="row pd-1">

          <div class="col-lg-10 col-sm-12 mx-auto  Faculty_incentives_Text pd-1 ">
            <ul>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2017-18 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2016-17 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2016-17 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2015-16 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2015-16 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2014-15 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2014-15 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2013-14 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2013-14 .</li>
            </ul>
          </div>

        </div>
     </div>
    <!--script-->
    <script>

    </script>
  </body>
</html>
