
     <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            IMPORTANT FUNCTIONARIES
          </h3>
        </div>
      </div>
        <div class="row pd-1">

            <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col-4">DESIGNATION</th>
                    <th scope="col-4">NAME</th>
                    <th scope="col-4">CONTACT NO.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
     </div>
