{% load staticfiles %}
<nav class="top-nav row">
  <div class="col-1">
    <img src="{% static 'core/images/Akgec_Logo.png' %}">
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-12">
        <h2>AJAY KUMAR GARG ENGINEERING COLLEGE-MCA</h2>
      </div>
      <div class="col-12">
        <p>(Affiliated to Dr. APJ Abdul Kalam Technical University, Lucknow, UP, College Code - 027)</p>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg" id="navbar">
  <a class="navbar-brand" href="#">
    <img src="{% static 'core/images/Akgec_Logo.png' %}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="about">
          <a class="dropdown-item" href="#">Vision and Mission</a>
          <a class="dropdown-item" href="#">Principal</a>
          <a class="dropdown-item" href="#">Infrastructure</a>
          <a class="dropdown-item" href="#">Faculty</a>
          <a class="dropdown-item" href="#">Labs</a>
          <a class="dropdown-item" href="#">Gallery</a>
          <a class="dropdown-item" href="#">Organisation Chart</a>
          <a class="dropdown-item" href="#">Important Functionaries</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="academics" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Academics
        </a>
        <div class="dropdown-menu" aria-labelledby="academics">
          <a class="dropdown-item" href="#">Affilation to AKTU</a>
          <a class="dropdown-item" href="#">Academic Awards</a>
          <a class="dropdown-item submenu" href="#">>College awards</a>
          <a class="dropdown-item submenu" href="#">>University awards</a>
          <a class="dropdown-item" href="#">Time Table</a>
          <a class="dropdown-item" href="#">Academic Calaender</a>
          <a class="dropdown-item" href="#">Syllabus</a>
          <a class="dropdown-item" href="#">Old Question Paper/Solution</a>
          <a class="dropdown-item submenu" href="#">>Internal Exams</a>
          <a class="dropdown-item submenu" href="#">>sUniversity Exams</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="R&D" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            R&D
          </a>
          <div class="dropdown-menu" aria-labelledby="R&D">
            <a class="dropdown-item" href="#">Centers Of Excellence</a>
            <a class="dropdown-item" href="#">Research and Industrial Consaltancy Centre</a>
            <a class="dropdown-item" href="#">International Journal</a>
            <a class="dropdown-item" href="#">Conferences</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Life@" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Life@
            </a>
            <div class="dropdown-menu" aria-labelledby="LiFE@">
              <a class="dropdown-item" href="#">Societies</a>
              <a class="dropdown-item" href="#">Events</a>
              <a class="dropdown-item" href="#">Social Responsibities</a>
              <a class="dropdown-item" href="#">Hostels</a>
              <a class="dropdown-item" href="#">Mediclaim</a>
            </div>
          </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admission" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admission
        </a>
        <div class="dropdown-menu" aria-labelledby="addmission">
          <a class="dropdown-item" href="#">Admission Process</a>
          <a class="dropdown-item" href="#">Fee Structure</a>
          <a class="dropdown-item" href="#">Refund Norms</a>
          <a class="dropdown-item" href="#">Information Booklet</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="placement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Placement
        </a>
        <div class="dropdown-menu" aria-labelledby="placement">
          <a class="dropdown-item" href="#">T&P Cell</a>
          <a class="dropdown-item" href="#">Recruitors</a>
          <a class="dropdown-item" href="#">Placement Records</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="alumni" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alumni
        </a>
        <div class="dropdown-menu" aria-labelledby="Alumni">
          <a class="dropdown-item" href="#">Testimonial</a>
          <a class="dropdown-item" href="#">Images</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--navbar-->
