{% load staticfiles %}
<div class="container shdw">
      <div class="row grey"><!--notifications-->
        <div class="col-12">
          <div class="row  title">Notifications</div>
        </div>
        <div class="col-12">
          <div class="row white-bg pd-1">
            <ul>
              <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
               veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat. Duis aute irure dolor in reprehenderit
             </li>
             <li>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat. Duis aute irure dolor in reprehenderit
            </li>
            <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
             veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat. Duis aute irure dolor in reprehenderit
           </li>
            </ul/>
          </div>
        </div>
      </div>
</div>
