{% load staticfiles %}
  <div class="container shdw"><div class="row"><!--recent events-->
        <div class="col-12 grey">
          <div class="row  title">Recent Events</div>
        </div>
          <div class="col-12 ">
            <div class="row">
              <div class="col-sm-12 col-lg-6 pd-1 white-bg"><!--slider-->

                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        {% for recent_event in recent_events %}
                            {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                                 <img class="d-block w-100" src="{{ recent_event.recent_event_slider.url }}" alt="slides">
                            </div>
                        {% endfor %}
                      </div>
                  </div><!--slider-->


              </div>
              <div class="col-sm-12 col-lg-6 white-bg">
                  {% for recent_event in recent_events %}
                        <div class="row pd-1 "><!--details and dates-->
                            <div class="col-4 grey text-center align-middle fs">
                            {{ recent_event.date_of_event }}
                            </div>
                            <div class="col-8">
                            <h6>{{ recent_event.description }} </h6>
                            </div>
                        </div>
                  {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
    <!--script-->
    <script>
    $('.carousel').carousel({
      interval: 25
    })
    </script>
