{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/our_alumni.css' %}">

    {% endblock stylesheets %}
    {% block content %}

    {% for alumni in alumni_info %}
    <div class="container light-grey-bg shdw" style="margin-bottom:50px">
      <div class="row">
        <div class="col-12 grey title text-center">
           <h3 style="font-weight:lighter">
               - OUR ALUMNI -
           </h3>
        </div>
        <div class="col-12 ">
          <div class="row pd-1">
            <div class="col-3 pd-1"> <!--alumni card-->
              <div class="row alumni_card ">
                <div class="col-12">
                  <img class="img-fluid" src="{{alumni.profile_pic.url}}">
                </div>
                <div class="col-12 ">
                  <h5> {{alumni.name}}</h5>
                  <div class="email-text"> <i class="fas fa-envelope" ></i> {{alumni.email}}</div>
                  <div class="pd-1">
                    <i class="fas fa-phone-volume" style="margin-right:10px"></i>{{alumni.phone_contact}}
                     <span class="float-right"><i class="fas fa-pen-alt " style="margin-right:10px"></i>{{alumni.designation}}</span>
                  </div>
                </div>
              </div>
            </div><!--alumni card ends-->

            <div class="col-3 pd-1"> <!--alumni card-->
              <div class="row alumni_card ">
                <div class="col-12">
                  <img class="img-fluid" src="{{alumni.profile_pic.url}}">
                </div>
                <div class="col-12 ">
                  <h5> {{alumni.name}}</h5>
                  <div class="email-text"> <i class="fas fa-envelope" ></i> {{alumni.email}}</div>
                  <div class="pd-1">
                    <i class="fas fa-phone-volume" style="margin-right:10px"></i>{{alumni.phone_contact}}
                     <span class="float-right"><i class="fas fa-pen-alt " style="margin-right:10px"></i>{{alumni.designation}}</span>
                  </div>
                </div>
              </div>
            </div><!--alumni card ends-->

            <div class="col-3 pd-1"> <!--alumni card-->
              <div class="row alumni_card ">
                <div class="col-12">
                  <img class="img-fluid" src="{{alumni.profile_pic.url}}">
                </div>
                <div class="col-12 ">
                  <h5> {{alumni.name}}</h5>
                  <div class="email-text"> <i class="fas fa-envelope" ></i> {{alumni.email}}</div>
                  <div class="pd-1">
                    <i class="fas fa-phone-volume" style="margin-right:10px"></i>{{alumni.phone_contact}}
                     <span class="float-right"><i class="fas fa-pen-alt " style="margin-right:10px"></i>{{alumni.designation}}</span>
                  </div>
                </div>
              </div>
            </div><!--alumni card ends-->

            <div class="col-3 pd-1"> <!--alumni card-->
              <div class="row alumni_card ">
                <div class="col-12">
                  <img class="img-fluid" src="{{alumni.profile_pic.url}}">
                </div>
                <div class="col-12 ">
                  <h5> {{alumni.name}}</h5>
                  <div class="email-text"> <i class="fas fa-envelope" ></i> {{alumni.email}}</div>
                  <div class="pd-1">
                    <i class="fas fa-phone-volume" style="margin-right:10px"></i>{{alumni.phone_contact}}
                     <span class="float-right"><i class="fas fa-pen-alt " style="margin-right:10px"></i>{{alumni.designation}}</span>
                  </div>
                </div>
              </div>
            </div><!--alumni card ends-->


          </div>

        </div>
      </div>
    </div>

    {% endfor %}

    {% endblock content %}
