{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/testimonial.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="./img/Akgec_Logo.png" sizes="16x16" type="image/png">
    {% endblock stylesheets %}
    {% block content %}
{% for testimonial in testimonial_info %}
    <div class="container z-depth-1 mt-5">
        <div class="row">
            <div class="col-lg-3 hideOnSmall grey text-center">
                <div class="sticky-top Testimonial">Testimonial</div>
            </div>
            <div class="col-lg-9 testimonial-section">
                <div class="row">
                    <div class="col-12 pd-2">

                        <div class="card">
                            <div class="row">
                                <div class="col-3">
                                    <div class="Aqua details pd-2">
                                        <div class="person">
                                            <img src="{{ testimonial.profile_pic.url }}">
                                        </div>
                                        <div class="white-text">
                                            <p class="b">
                                                {{testimonial.name}}
                                            </p>
                                            <p>
                                               {{testimonial.designation}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 qoute">
                                    <p><span id="dots">{{testimonial.testimonial_message|truncatewords:20}}</span><span
                                            id="more">
                                        {{testimonial.testimonial_message}}
                                           </span></p>
                                    <button class="Aqua btn" onclick="myFunction()" id="myBtn_{{ testimonial.id }}">Read more</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--script-->
    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn_{{ testimonial.id }}");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";

            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
  {% endfor %}
    {% endblock content %}
