{% extends 'core/base/base.html' %}
 {% block title %}AICTE Approval Letters | AKGEC-MCA{% endblock %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container shdw" style="margin-bottom:50px">
       <div class="row">
         <div class="col-12 grey title">
           AICTE APPROVAL LETTERS
         </div>
         <div class="col-12 pd-1">
         </div>
             <ol style="list-style: none">
         {% for info in aicte %}
             <li><i class="far fa-dot-circle" style="margin-right:5px"></i><a href ="{{info.content.url}}"> Year {{info.title}}</a></li>
         {% endfor %}
              </ol>
         </div>
       </div>
     </div>
    {% endblock content %}



