{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container shdw" style="margin-bottom:50px">
       <div class="row">
         <div class="col-12 grey title">
           Downloads
         </div>
         <div class="col-12 text-center pd-1">
           {% for info in downloads %}
             <i class="far fa-dot-circle" style="margin-right:5px"></i><a href ="{{info.content.url}}">{{info.title}}</a>
          {% endfor %}
         </div>
       </div>
     </div>
    {% endblock content %}
