{% extends 'core/base/base.html' %}
{% block title %}List Of Holidays |Ajay Kumar Garg Engineering College|MCA|AKGEC MCA{% endblock %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container shdw" style="margin-bottom:50px">
       <div class="row">
         <div class="col-12 grey title text-center">
           - List Of Holidays -
         </div>
         <div class="col-12 media pd-1">
             {% for info in list_of_holidays %}
            <img class="img-fluid" alt="holidays" src ="{{info.content.url}}">
         {% endfor %}
         </div>
       </div>
     </div>
    {% endblock content %}







