{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Academic Calendar |Ajay Kumar Garg Engineering College|MCA|AKGEC MCA{% endblock %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/calender.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    {% if error_message %}
<h1 style="text-align:center;padding:.5em;font-size:5em;margin-bottom:300px">{{error_code}} &nbsp; {{error_message}}</h1>

    {% endif %}
    {% endblock content %}
