{% load static %}
<!-- <div class="fluid-container">
    <div class="row pd-1">
      <div class="col-12">
        <div class="row  title_reach_us grey" style="font-weight:lighter">  Reach Us</div>
      </div>
      <div class="col-12 embed-responsive embed-responsive-21by9 Map_size">
        <div class="mapouter"><div class="gmap_canvas">
          <iframe class="embed-responsive-item " id="gmap_canvas" src="https://maps.google.com/maps?q=Ghaziabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <a href="https://www.pureblack.de">webseite erstellen</a></div>
        </div>
      </div>
    </div>
  </div> -->
