{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel = "stylesheet" type="text/css" href="{% static 'core/css/landing_page.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/recent_events.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/notifications.css' %}">
    {% endblock stylesheets %}
    {% block content %}
        {% include 'core/home/landing_page.html' %}
        {% include 'core/home/recent_events.html' %}
        {% include 'core/home/notifications.html' %}
    {% endblock content %}
