{% load staticfiles %}
<link rel = "stylesheet" type="text/css" href="{% static 'core/css/landing_page.css' %}">
<div class="row justify-content-center"><!--LandingPage-->
          <div class="col-lg-6 col-md-6 col-sm-10 position-absolute " id="caption_slider">
            <div class="row pd-1">
              <div class="col-12 text-center op-bg B-r2 main-text-col "><p class=" white-text main_text">AKGEC-MCA</p></div>
            </div>
          </div>

          <div class="col-12  ">
            <div  id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for portion in landing_portion %}
                        {% if forloop.counter0 == 0 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner slider-image-size" >
                    {% for portion in landing_portion %}
                            {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                                 <img class="img-fluid" src="{{ portion.slider.url }}" alt="slides">
                            </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev z-3" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next z-3" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
          </div>

      </div><!--Corousel-->
      <!--script-->
    <script>
    $('.carousel').carousel({
      interval: 2500
    })
    </script>
