<div class="container shdw">
    <div class="row">
      <!--notifications-->
      <div class="col-12">
        <div class="row white-bg pd-1">
          <div class="col-lg-8 col-sm-6 pd-1 NotificationsList">
              <div class="col-12 grey">
                  <div class="title">Notifications</div>
                </div>
            <ul>
                {% for notify in notify_active %}
                <li>
                    {{ notify.message }}
                </li>
                {% endfor %}

                {% for notify in notify_not_active %}
                <li>
                    {{ notify.message }}
                </li>
                {% endfor %}
            </ul>
          </div>
          <div class="col-lg-4 col-sm-6  left-border pd-1 QuickLinks ">
            <div class="title text-center Orange grey">
              Quick Links
            </div>
            <div class="divider"></div>
            <ul>
              <li>
                <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" target="_blank"><i class="fas fa-arrow-alt-circle-right align-middle "></i>Email</a>
              </li>
              <li>
                <a href="{% url 'download' %}"><i class="fas fa-arrow-alt-circle-right align-middle"></i>Downloads</a>
              </li>
              <li>
                <a href="{% url 'naac' %}"><i class="fas fa-arrow-alt-circle-right align-middle"></i>NAAC</a>
              </li>
              <li>
                <a href="{% url 'aicte_approval_letter' %}"><i class="fas fa-arrow-alt-circle-right align-middle"></i>AICTE Approval</a>
              </li>
              <li>
                <a href="{% url 'mandatory_disclosure' %}"><i class="fas fa-arrow-alt-circle-right align-middle"></i>Mandatory Disclosure</a>
             </li>
             <li>
                <a href="{% url 'list_of_holiday' %}"><i class="fas fa-arrow-alt-circle-right align-middle"></i>List of Holidays</a>
            </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
</div>