<!-- {% load static %}
<link rel = "stylesheet" type="text/css" href="{% static 'core/css/notifications.css' %}"> -->
<div class="container shdw">
    <div class="row">
      <!--notifications-->
      <div class="col-12">
        <div class="row white-bg pd-1">
          <div class="col-lg-8 col-sm-6 pd-1 NotificationsList">
              <div class="col-12 aqua">
                  <div class="title">Notifications</div>
                </div>
            <ol>
                {% for notify in notify_active %}
                {% if notify.link %}
                <li>
                    <i class="far fa-bell "></i><a href="{{notify.link}}">{{ notify.message}}</a>
                </li>
                {% elif notify.file %}
                <li>
                    <i class="far fa-bell "></i><a href="{{notify.file.url}}">{{ notify.message}}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% for notify in notify_not_active %}
                    {% if notify.link %}
                <li>
                    </i><a href="{{notify.link}}">{{ notify.message}}</a>
                </li>
                {% elif notify.file %}
                <li>
                    </i><a href="{{notify.file.url}}">{{ notify.message}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ol>
          </div>
          <div class="col-lg-4 col-sm-6  left-border pd-1 QuickLinks ">
            <div class="title text-center aqua">
              Quick Links
            </div>
            <div class="row">
              <ol>
                <li>
                  <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" target="_blank"><i class="fas fa-envelope"></i>Email</a>
                </li>
                <li>
                  <a href="{% url 'download' %}"><i class="fas fa-download align-middle"></i>Downloads</a>
                </li>
<!--                <li>-->
<!--                  <a href="{% url 'naac' %}"><i class="fas fa-certificate align-middle"></i>NAAC</a>-->
<!--                </li>-->
                <li>
                  <a href="{% url 'aicte_approval_letter' %}"><i class="fas fa-synagogue align-middle"></i>AICTE Approval Letters</a>
                </li>
                <li>
                  <a href="{% url 'mandatory_disclosure' %}"><i class="fas fa-certificate align-middle"></i>Mandatory Disclosure</a>
               </li>
               <li>
                  <a href="{% url 'list_of_holiday' %}"><i class="fas fa-holly-berry align-middle"></i>List of Holidays</a>
              </li>
              </ol>
            </div>

          </div>

        </div>
      </div>
    </div>
</div>
