{% extends 'core/base/base.html' %}
{% load staticfiles %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/faculty_incentives.css' %}">
    {% endblock stylesheets %}
    {% block content %}
         <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            Faculty Incentives
          </h3>
        </div>
      </div>
        <div class="row pd-1">

          <div class="col-lg-10 col-sm-12 mx-auto  Faculty_incentives_Text pd-1 ">
            <ul>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2017-18 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2016-17 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2016-17 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2015-16 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2015-16 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2014-15 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2014-15 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Odd Semester 2013-14 .</li>
              <li><i class="fas fa-square"></i>Faculty Incentives for Even Semester 2013-14 .</li>
            </ul>
          </div>

        </div>
     </div>

    {% endblock content %}
















