{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/faculty_style.css' %}">
    {% endblock stylesheets %}
    {% block content %}


<div class="container mt-5 SmallScreenResponsive" style="box-shadow: 0px 2px 5px 0px #bdbdbd; margin-bottom:50px">
       <!-- Large modal -->
      <!--Faculty-section-->
      <div class="row ">
          <div class="col-lg-12 grey text-center pd-1">  <h3 style="font-weight:lighter">
              - MCA FACULTY -
            </h3></div>
          <div class="col-lg-12 col-sm-12 facultyCardSection">
            <div class="row CardRow pd-2 "><!--first card row-->
                {% for faculty in faculty_info %}
                <div class="col-lg-4 col-md-4 col-sm-6 mt-5 "> <!--card-1-->
                  <div class="card ">
                      <div class="Aqua  BackgroundTop">
                        <a  data-toggle="modal" data-target=".a{{faculty.id}}"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>
                        <div class="col-6 ImgSection">
                        <a data-toggle="modal" data-target=".a{{faculty.id}}"><img class="card-img-top Border50 ImgOnHover img-fluid" src="{{ faculty.profile_pic.url }}" alt="Card image cap"  ></a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-10 mx-auto">
                          <div class="card-body text-center">
                            <h5 class="card-title mt-3p">{{ faculty.name}}</h5>
                            <p class="card-text">{{ faculty.designation }}<br> {{faculty.qualification_phd}} {{faculty.qualification_pg}} {{faculty.qualification_ug}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>

               <div class="modal fade a{{faculty.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
               <!--model pdf uploading -->
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <embed src ="{{ faculty.faculty_pdf.url }}" width="100%" height="500vh" id="faculty-pdf" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
                </div>
                </div>

                {% endfor %}

                 <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-2&ndash;&gt;-->
                   <!--<div class="card">-->
                       <!--<div class="Aqua  BackgroundTop">-->
                         <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                         <!--<div class="col-6 ImgSection">-->
                         <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                         <!--</div>-->
                       <!--</div>-->
                       <!--<div class="row">-->
                         <!--<div class="col-10 mx-auto">-->
                           <!--<div class="card-body text-center">-->
                             <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                             <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                           <!--</div>-->
                         <!--</div>-->
                       <!--</div>-->
                     <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-3&ndash;&gt;-->
                    <!--<div class="card">-->
                        <!--<div class="Aqua  BackgroundTop">-->
                          <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                          <!--<div class="col-6 ImgSection">-->
                          <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                          <!--<div class="col-10 mx-auto">-->
                            <!--<div class="card-body text-center">-->
                              <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                              <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                   <!--</div>-->

             <!--&lt;!&ndash;second card row&ndash;&gt;-->

               <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5 "> &lt;!&ndash;card-1&ndash;&gt;-->
                 <!--<div class="card">-->
                     <!--<div class="Aqua  BackgroundTop">-->
                       <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                       <!--<div class="col-6 ImgSection">-->
                       <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                       <!--</div>-->
                     <!--</div>-->
                     <!--<div class="row">-->
                       <!--<div class="col-10 mx-auto">-->
                         <!--<div class="card-body text-center">-->
                           <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                           <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                         <!--</div>-->
                       <!--</div>-->
                     <!--</div>-->
                   <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-2&ndash;&gt;-->
                  <!--<div class="card">-->
                      <!--<div class="Aqua  BackgroundTop">-->
                        <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                        <!--<div class="col-6 ImgSection">-->
                        <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row">-->
                        <!--<div class="col-10 mx-auto">-->
                          <!--<div class="card-body text-center">-->
                            <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                            <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                 <!--</div>-->

                 <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-3&ndash;&gt;-->
                   <!--<div class="card">-->
                       <!--<div class="Aqua  BackgroundTop">-->
                         <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                         <!--<div class="col-6 ImgSection">-->
                         <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                         <!--</div>-->
                       <!--</div>-->
                       <!--<div class="row">-->
                         <!--<div class="col-10 mx-auto">-->
                           <!--<div class="card-body text-center">-->
                             <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                             <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                           <!--</div>-->
                         <!--</div>-->
                       <!--</div>-->
                     <!--</div>-->
                  <!--</div>-->

              <!--third card row-->

                <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-1&ndash;&gt;-->
                  <!--<div class="card">-->
                      <!--<div class="Aqua  BackgroundTop">-->
                        <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                        <!--<div class="col-6 ImgSection">-->
                        <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row">-->
                        <!--<div class="col-10 mx-auto">-->
                          <!--<div class="card-body text-center">-->
                            <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                            <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                 <!--</div>-->

                 <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-2&ndash;&gt;-->
                   <!--<div class="card">-->
                       <!--<div class="Aqua  BackgroundTop">-->
                         <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                         <!--<div class="col-6 ImgSection">-->
                         <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                         <!--</div>-->
                       <!--</div>-->
                       <!--<div class="row">-->
                         <!--<div class="col-10 mx-auto">-->
                           <!--<div class="card-body text-center">-->
                             <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                             <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                           <!--</div>-->
                         <!--</div>-->
                       <!--</div>-->
                     <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-3&ndash;&gt;-->
                    <!--<div class="card">-->
                        <!--<div class="Aqua  BackgroundTop">-->
                          <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                          <!--<div class="col-6 ImgSection">-->
                          <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                          <!--<div class="col-10 mx-auto">-->
                            <!--<div class="card-body text-center">-->
                              <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                              <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                   <!--</div>-->

               <!--&lt;!&ndash;fourth card row&ndash;&gt;-->

                 <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5 "> &lt;!&ndash;card-1&ndash;&gt;-->
                   <!--<div class="card">-->
                       <!--<div class="Aqua  BackgroundTop">-->
                         <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                         <!--<div class="col-6 ImgSection">-->
                         <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                         <!--</div>-->
                       <!--</div>-->
                       <!--<div class="row">-->
                         <!--<div class="col-10 mx-auto">-->
                           <!--<div class="card-body text-center">-->
                             <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                             <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                           <!--</div>-->
                         <!--</div>-->
                       <!--</div>-->
                     <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-2&ndash;&gt;-->
                    <!--<div class="card">-->
                        <!--<div class="Aqua  BackgroundTop">-->
                          <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                          <!--<div class="col-6 ImgSection">-->
                          <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                          <!--<div class="col-10 mx-auto">-->
                            <!--<div class="card-body text-center">-->
                              <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                              <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                   <!--</div>-->

                   <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-3&ndash;&gt;-->
                     <!--<div class="card">-->
                         <!--<div class="Aqua  BackgroundTop">-->
                           <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                           <!--<div class="col-6 ImgSection">-->
                           <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                           <!--</div>-->
                         <!--</div>-->
                         <!--<div class="row">-->
                           <!--<div class="col-10 mx-auto">-->
                             <!--<div class="card-body text-center">-->
                               <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                               <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                             <!--</div>-->
                           <!--</div>-->
                         <!--</div>-->
                       <!--</div>-->
                    <!--</div>-->

                <!--&lt;!&ndash;fifth card row&ndash;&gt;-->

                     <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5 Small-mt"> &lt;!&ndash;card-1&ndash;&gt;-->
                       <!--<div class="card">-->
                           <!--<div class="Aqua  BackgroundTop">-->
                             <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                             <!--<div class="col-6 ImgSection">-->
                             <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                             <!--</div>-->
                           <!--</div>-->
                           <!--<div class="row">-->
                             <!--<div class="col-10 mx-auto">-->
                               <!--<div class="card-body text-center">-->
                                 <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                                 <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                               <!--</div>-->
                             <!--</div>-->
                           <!--</div>-->
                         <!--</div>-->
                      <!--</div>-->

                      <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-2&ndash;&gt;-->
                        <!--<div class="card">-->
                            <!--<div class="Aqua  BackgroundTop">-->
                              <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                              <!--<div class="col-6 ImgSection">-->
                              <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                              <!--<div class="col-10 mx-auto">-->
                                <!--<div class="card-body text-center">-->
                                  <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                                  <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                       <!--</div>-->

                       <!--<div class="col-lg-4 col-md-4 col-sm-6 mt-5"> &lt;!&ndash;card-3&ndash;&gt;-->
                         <!--<div class="card">-->
                             <!--<div class="Aqua  BackgroundTop">-->
                               <!--<a  data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-bars float-right pd-1 profile" style="color:white; font-size:20px; opacity:.8"></i></a>-->
                               <!--<div class="col-6 ImgSection">-->
                               <!--<a data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top Border50 ImgOnHover img-fluid" src="img/Faculty.jpg" alt="Card image cap"  ></a>-->
                               <!--</div>-->
                             <!--</div>-->
                             <!--<div class="row">-->
                               <!--<div class="col-10 mx-auto">-->
                                 <!--<div class="card-body text-center">-->
                                   <!--<h5 class="card-title mt-3p">Prof. S.L. Kapoor</h5>-->
                                   <!--<p class="card-text">HOD <br> B.Tech, M.Tech</p>-->
                                 <!--</div>-->
                               <!--</div>-->
                             <!--</div>-->
                           <!--</div>-->
                        <!--</div>-->

                    </div>
          </div>
      </div>
 </div>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 {% endblock content %}
