{% extends 'core/base.html' %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/gallery.css' %}">
{% endblock stylesheets %}
{% block content %}

<div class="container z-depth-1 mt-5">

    <div class="row">
        <div class="col-lg-3 grey text-center">
            <div class="gallery">Gallery</div>
            <div class="img-slider">
                <div class="img-preview">
                    <img src="{% static 'core/images/event1.jpg' %}" onclick="openImg(this)">
                </div>
                <div class="img-preview">
                    <img src="{% static 'core/images/slide1.jpg' %}" onclick="openImg(this)">
                </div>
                <div class="img-preview">
                    <img src="{% static 'core/images/event1.jpg' %}" onclick="openImg(this)">
                </div>
                <div class="img-preview">
                    <img src="{% static 'core/images/slide1.jpg' %}" onclick="openImg(this)">
                </div>
                <div class="img-preview">
                    <img src="{% static 'core/images/event1.jpg' %}" onclick="openImg(this)">
                </div>
            </div>
        </div>
        <div class="col-lg-9 hideOnSmall img-gallery">
            <div class="sticky-top img-view">
                <img id="imageView">
            </div>
        </div>
    </div>
</div>
<!--script-->
<script>
    function openImg(imgs) {
        var largeImg = document.getElementById("imageView");
        largeImg.src = imgs.src;
    }
</script>
{% endblock content %}
