{% extends 'core/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/important_functionary.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="icon" href="./img/Akgec_Logo.png" sizes="16x16" type="image/png">
        <!--bootstrapcdn-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <!--Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    {% endblock stylesheets %}
    {% block content %}
    <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            IMPORTANT FUNCTIONARIES
          </h3>
        </div>
      </div>
        <div class="row pd-1">
            <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col-4">DESIGNATION</th>
                    <th scope="col-4">NAME</th>
                    <th scope="col-4">CONTACT NO.</th>
                  </tr>
                </thead>
                <tbody>
                  {% for imp_functionary in imp_functionaries %}

                  <tr>
                    <td>{{imp_functionary.designation}}</td>
                    <td>{{imp_functionary.name}}</td>
                    <td>
                        {%if imp_functionary.telephone %}
                            {{ imp_functionary.telephone }}
                        {% endif %}
                        {%if imp_functionary.phone_number %}
                            {{ imp_functionary.phone_number }}
                        {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

        </div>
     </div>

    {% endblock content %}
