{% extends 'core/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/important_functionary.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            IMPORTANT FUNCTIONARIES
          </h3>
        </div>
      </div>
        <div class="row pd-1">
            <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col-4">DESIGNATION</th>
                    <th scope="col-4">NAME</th>
                    <th scope="col-4">CONTACT NO.</th>
                  </tr>
                </thead>
                <tbody>
                  {% for imp_functionary in imp_functionaries %}

                  <tr>
                    <td>{{imp_functionary.designation}}</td>
                    <td>{{imp_functionary.name}}</td>
                    <td>
                        {%if imp_functionary.telephone %}
                            {{ imp_functionary.telephone }}
                        {% endif %}
                        {%if imp_functionary.phone_number %}
                            {{ imp_functionary.phone_number }}
                        {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

        </div>
     </div>
    {% endblock content %}
