{% extends 'core/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/infrastructure.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            INFRASTRUCTURE
          </h3>
        </div>
      </div>
        <div class="row pd-1">

            <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1">
                <div class="row">
                  <div class="col-lg-4 col-sm-12 mt-2">
                    <img class="img-fluid" src="img/slide1.jpg" alt="Infrastructure">
                    <header class="Aqua white-text text-center pd-1">
                      MCA block
                    </header>
                  </div>
                  <div class="col-lg-4 col-sm-12 mt-2">
                    <img class="img-fluid" src="img/slide1.jpg" alt="Infrastructure">
                    <header class="Aqua white-text text-center pd-1">
                      MCA block
                    </header>
                  </div>
                  <div class="col-lg-4 col-sm-12 mt-2">
                    <img class="img-fluid" src="img/slide1.jpg" alt="Infrastructure">
                    <header class="Aqua white-text text-center pd-1">
                      MCA block
                    </header>
                  </div>
                </div>
            </div>

        </div>
     </div>


    {% endblock content %}



