{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/lab_style.css' %}">
    {% endblock stylesheets %}
    {% block content %}
     <div class="container z-depth-1 mt-5 light-grey-bg" style="box-shadow: 0px 2px 5px 0px #bdbdbd; margin-bottom:50px">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
          - MCA Labs -
          </h3>
        </div>
      </div>
        <div class="row pd-1">
            {% for lab in lab_info %}
        <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 LabText" style="font-size:1.2rem; line-height: 2rem"> <h3 >{{lab.lab_name}}</h3><i class="fas fa-quote-left"></i>
            {{lab.lab_description}}<i class="fas fa-quote-right"></i>
          </div>
          <div class="col-lg-4 col-sm-12 mx-auto mt-1">
            <img src="{{lab.image1.url}}" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-4 col-sm-12 mx-auto mt-1">
            <img src="{{lab.image2.url}}"  class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-4 col-sm-12 mx-auto mt-1 ">
            <img src="{{lab.image3.url }}" class="img-fluid" alt="Responsive image">
          </div>
            {% endfor %}
        </div>
     </div>
    <!--script-->
    <script>

    </script>
{% endblock content %}
