{% extends 'core/base.html' %}
{% load staticfiles %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/organization_chart.css' %}">
    {% endblock stylesheets %}
    {% block content %}

   <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            ORGANIZATION CHART
          </h3>
        </div>
      </div>
        <div class="row pd-1">

            <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1">
              <img class="img-fluid" src="{{ organization_chart.image.url }}" alt="Organization Chart"/>
            </div>
        </div>
     </div>
    {% endblock content %}











