{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vision_and_mission.css' %}">
    {% endblock stylesheets %}
    {% block content %}

     <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            Vision - Mission - Quality Policy
          </h3>
        </div>
      </div>
        <div class="row pd-1">

            {% for c in content %}

            <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 ContentText white-bg mt-2"><h2><i class="fas fa-quote-left"></i> OUR VISION <i class="fas fa-quote-right"></i></h2><br>
                    <p>{{c.vision|safe}}</p>
            </div>

            <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 ContentText white-bg mt-2"><h2><i class="fas fa-quote-left"></i> OUR MISSION <i class="fas fa-quote-right"></i></h2><br>
            <p> {{c.mission|safe}}</p>
            </div>

            <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 ContentText white-bg mt-2"><h2><i class="fas fa-quote-left"></i> OUR QUALITY POLICY <i class="fas fa-quote-right"></i></h2><br>
            <p> {{c.policy|safe}}</p>
            </div>

            {% endfor %}
        </div>
     </div>



    {% endblock content %}








