
     <div class="container z-depth-1 mt-5 light-grey-bg">
      <!--lab-section-->
      <div class="row grey text-center">
        <div class="col-12 pd-1">
          <h3 style="font-weight:lighter">
            Vision - Mission - Quality Policy
          </h3>
        </div>
      </div>
        <div class="row pd-1">

            <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 ContentText white-bg mt-2"><h2><i class="fas fa-quote-left"></i> OUR VISION <i class="fas fa-quote-right"></i></h2><br>
              <p>To introduce undergraduate and postgraduate courses for all engineering branches and award of Ph.D degree to be one of the best engineering colleges
               in the country and to be a deemed university.</p>
            </div>

            <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 ContentText white-bg mt-2"><h2><i class="fas fa-quote-left"></i> OUR MISSION <i class="fas fa-quote-right"></i></h2><br>
            <p> We strive to provide and maintain academic environment and systems, enabling maximum learning to produce competent professionals. We also aim at achieving
               this through transparent academic and administrative policies in the college.We intend to provide conducive atmosphere for research, development and
               consultancy services to our faculty at national and international level.</p>
            </div>

            <div class="col-lg-10 col-sm-12 mx-auto  text-center pd-1 ContentText white-bg mt-2"><h2><i class="fas fa-quote-left"></i> OUR QUALITY POLICY <i class="fas fa-quote-right"></i></h2><br>
            <p> We strive to provide and maintain academic environment and systems, enabling maximum learning to produce competent professionals. We also aim at achieving this
              through transparent academic and administrative policies in the college.We intend to provide conducive atmosphere for research, development and consultancy
              services to our faculty at national and international level.</p>
            </div>

        </div>
     </div>
