{% extends 'core/base/base.html' %}
{% load staticfiles %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/university.css' %}">
    {% endblock stylesheets %}
    {% block content %}
   <div class="container z-depth-1 mt-5 light-grey-bg">
      {% for award in uni_award_list %}
       AKTU Merit List <a href="{% url 'uni_awards' award.session %}">{{award.session}}</a>
       {% endfor %}
     </div>
    {% endblock content %}
