{% extends 'core/base/base.html' %}
{% load staticfiles %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/university.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="container  mt-5 light-grey-bg" style="box-shadow: 0px 2px 5px 0px #bdbdbd; margin-bottom:50px; min-width: 500px">
    <div class="row grey text-center">
        <div class="col-12 pd-1">
            <h3 style="font-weight:lighter">
                - AWARDS -
            </h3>
        </div>
    </div>
    <div class="row pd-1">

        <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1">
            {% for award in uni_award_list %}
            <a href="{% url 'uni_awards' award.uni_session %}">{{award.uni_session}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}