{% extends 'core/base/base.html' %}
{% block title %}College Awards | AKGEC-MCA{% endblock %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/university.css' %}">
    {% endblock stylesheets %}
    {% block content %}
   <div class="container z-depth-1 mt-5 light-grey-bg">
      {% for award in colg_award_list %}
        Merit Awards for the year<a href="{% url 'college_awards' award.session %}">{{award.session}}</a>
       {% endfor %}
     </div>
    {% endblock content %}
