{% extends 'core/base/base.html' %}
{% load staticfiles %}
{% load static %}
    {% block stylesheets %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/university.css' %}">
    {% endblock stylesheets %}
    {% block content %}
   <div class="container z-depth-1 mt-5 light-grey-bg">
      <table>
          <tr>
              <th>Name</th>
              <th>Year</th>
              <th>Percentage Marks</th>
          </tr>
          {% for student in college_awards_info %}
          <tr>
              <td>{{student.name}}</td>
              <td>{{student.year}}</td>
              <td>{{student.percentage_marks}}</td>
          </tr>
          {% endfor %}
      </table>
     </div>
    {% endblock content %}
