{% extends 'core/base/base.html' %}
{% block title %}TimeTable | AKGEC-MCA{% endblock %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/time_table.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container shdw" style="margin-bottom:50px">
       <div class="row">
         <div class="col-12 grey text-center title">
           - TimeTable -
         </div>
         <div class="col-12 pd-1">
         </div>
           <ol style="list-style: none" class="text-center">
               <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1">
           {% for t in timetable %}

                  <li><i class="far fa-dot-circle" style="margin-right:5px"></i>
                      <a href="{{t.image.url}}" alt="Time_Tables">MCA {{t.year}} year, Section{{t.section}}</a></li>

              {% endfor %}
                    </div>
           </ol>
         </div>
       </div>
    {% endblock content %}
