{% extends 'core/base/base.html' %}
{% block title %}TimeTable | AKGEC-MCA{% endblock %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/time_table.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container  z-depth-1 mt-5 light-grey-bg" style="box-shadow: 0px 2px 5px 0px #bdbdbd; margin-bottom:50px">
       <div class="row grey text-center">
         <div class="col-12 pd-1 title">
            <h3 style="font-weight:lighter">
                - TIME TABLE -
            </h3>
         </div>
       </div>

       <div class="row pd-1">
          <div class="col-10 pd-1">
                  <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1">
                    <ol style="width: 100%;list-style: none">
              {% for t in timetable %}
                   
                       <li>
                         <i class="fa fa-dot-circle" style="margin-right: 5px"></i><a href="{{t.image.url}}" alt="Time_Tables" style="color: black">MCA {{t.year}} year, Section{{t.section}}</a>
                       </li>
                   
                 {% endfor %}
                    </ol>
                   </div>

            </div>
       </div>  
         
     </div>
    {% endblock content %}
