body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px}
.Orange{color: #ffc107}

.footer{
    width: 100%;
    padding: 20px;
}

.footer .logo{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #e5e5e5;
   padding: 8px;
   margin: auto;
   margin-top: 80px;
   box-shadow: 0px 5px 8px 0px black;
}

.footer .logo img{
    width: 80px;
}

.footer .reach-us{
  margin: auto;
  width: 200Px;
}

.footer .reach-us img{
  width: 200px;
  border-radius: 50%;

}

.footer .txt{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 400;
}

.footer .txt-light{
  color: #a5a5a5;
}

.footer .wrapped{
  padding-bottom: 10px;
}

.footer .wrapped p{
  margin: 0px;
}

.inline{
  display: inline;
}

.footer li a{
  cursor: pointer;
  color: #a5a5a5;
  text-decoration: none;
}

.footer li a:hover{
  color: #fff;
}

.footer hr{
  border: 1px solid #fff;
  width: 100%;
}

.footer .si-powered a{
  text-decoration: none;
  color: #a5a5a5;
}

.footer .si-powered img{
  width:20px;
  border-radius: 50%;
}

@media query(max-width:480px)
{
  .container
  {
    width: 100vw !important;
  }
}

@media screen and (max-width: 768px) {
  #caption-md-hide {
    display: none;
  }
}
