body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
.op-bg{background: rgba(33,33,33,.7); border: 1px solid #ffc107}
.fs{font-size: 2.5rem}
.shdw{box-shadow: 2px 2px 8px #eee;}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px}
.Orange{color: #ffc107}
.container
{
  /*background: linear-gradient(to right, #039be5,#2196f3);*/
  margin-top: 50px;
  background-color: #eee;
  /*height: 600px;*/
}
.container{
  background-color: #fff;
}
#caption_slider
{
  z-index: 1;
  color: #1976d2;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10%;

}
.main_text
{
  font-size: 60px;
  letter-spacing: 10px;
}
.title
{
  padding: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}
.title_reach_us
{
  padding-left: 120px;
  font-size: 30px;
  letter-spacing: 2px;
}
img {
  background-position: center;
  background-size: cover;
}

/*@media query(max-width:480px)*/
/*{*/
  /*.container*/
  /*{*/
    /*width: 100vw !important;*/
  /*}*/
/*}*/

@media screen and (max-width: 768px) {
  #caption-md-hide {
    display: none;
  }
}
