body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
.op-bg{background: rgba(0, 188, 212,.7);; border: none;}
.fs{font-size: 2.5rem}
.shdw{box-shadow: 2px 2px 8px #eee;}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px}
.Orange{color: #ffc107}
.container
{
  /*background: linear-gradient(to right, #039be5,#2196f3);*/
  margin-top: 20px;
  background-color: #eee;
  /*height: 600px;*/
}
.container{
  background-color: #fff;
}

#caption_slider
{
  z-index: 1;
  color: #03a9f4;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15%;
  box-shadow: 0px 0px 10px -2px #000;
  border-radius: 20px;
}

.main_text
{
  font-size: 60px;
  letter-spacing: 10px;
  text-shadow: 3px 3px 10px #000;
}
.title
{
  padding: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}
.title_reach_us
{
  padding-left: 120px;
  font-size: 30px;
  letter-spacing: 2px;
}
img {
  background-position: center;
  background-size: cover;
}
.carousel-item img{
  width: 100vw;
  height: 700px;
}
@media (max-width:480px)
{
  .container
  {
    margin-top: 10px;
  }
  .carousel-item img{
    width: 100vw;
    height: inherit;
  }
  .main-text-col{
    padding: 10px;
  }
  #caption_slider
  {
    margin-top: 20%;
  }
  .main_text
  {
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000;
  }

}

@media screen and (max-width: 768px) {
  #caption-md-hide {
    display: none;
  }
}
