body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
.op-bg{background: rgba(33,33,33,.7); border: 1px solid #ffc107}
.fs{font-size: 2.5rem}
.shdw{box-shadow: 2px 2px 8px #eee;}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px}
.Orange{color: #ffc107}
.container
{
  /*background: linear-gradient(to right, #039be5,#2196f3);*/
  margin-top: 50px;
  background-color: #eee;
}
.container{
  background-color: #fff;
}
/* #caption_slider
{
  z-index: 1;
  color: #03a9f4;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10%;

} */

.top-nav{
  height: 80px;
  background-color: #ebedee;
}

.top-nav img{
  width: 50px;
  margin: 15px 0 0 50px;
}

.navbar
{
  width: 100%;
  background:linear-gradient(to top ,#03a9f4, #00bcd4) #00bcd4;
  padding: 8px 40px 0px 50px;
  z-index: 10;
}

.navbar .navbar-brand{
  padding: 0px 50px 0 0px;
}

.navbar .navbar-brand img
{
    width: 35px;
}

.navbar .nav-link
{
    color: #fff;
    margin: 0 10px;;
    cursor: pointer;
}

.navbar li
{
    color: #fff;
}

.navbar .active, .nav-item:hover{
    border-bottom: 2px solid #fff;
    transition: 0.6;
}

.navbar .dropdown-menu{
  background-color: #424242;
}

.navbar .dropdown-menu .dropdown-item{
  color: #fff;
  z-index: 100;
}

.navbar .dropdown-menu .submenu{
  color: rgb(138, 138, 138);
  padding-left: 50px;
  background-color: #3a3939;
}

.navbar .dropdown-menu .dropdown-item:hover{
  background:linear-gradient(to top ,#03a9f4, #00bcd4) #00bcd4;
}


@media (max-width:480px)
{
  .container
  {
    width: 100vw !important;
  }
}

@media screen and (max-width: 768px) {
  #caption-md-hide {
    display: none;
  }
}
