body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .mt-2{margin-top: 10px} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;}.aqua{background-color: #00bcd4;color: #fff;}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
 .left-border{border-left: 2px solid #696969;}
.shdw{box-shadow: 0px 5px 8px #eee;}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px}
.Orange{color: #ffc107}
.container{
  background-color: #eee;
}
.NotificationsList li
{
  margin: 10px
}
.QuickLinks li{
  padding: 10px;
}
.QuickLinks ol
{
  list-style-type: none;
}
.QuickLinks a
{
  color: #424242;
}
.QuickLinks a i
{
  font-size: 25px;
  margin-right: 10px;
}
.QuickLinks a:hover
{
  color: #ffc107;
  transition: .3s;
}

/* .divider
{
  height: 2px;
  width: 100%;
  background-color: #696969;
} */
@media query(max-width:480px)
{s
  .container
  {
    width: 100vw !important;
  }
}

@media screen and (max-width: 768px) {
  #caption-md-hide {
    display: none;
  }
}
