body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .mt-2{margin-top: 10px} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;} .aqua{background-color: #00bcd4;color: #fff;}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
.fs{font-size: 2.5rem}
.shdw{box-shadow: 2px 2px 10px #eee;}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px}
.Orange{color: #ffc107}

.title
{
  padding: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}
.title_reach_us
{
  padding-left: 120px;
  font-size: 30px;
  letter-spacing: 2px; 
}
/*recentEvent Details*/
.RecentDetails
{
  overflow-y: scroll;
  height: 300px;
}
.event-slider img{
  width: 100vw;
  height: 300px;
}
.event-description{
  padding: 20px;
  font-size: 1rem!important;
  font-weight: 400!important;
  text-align: justify!important;
}

/*recentEvent Details*/
@media (max-width:480px)
{
  .container
  {
    width: 100vw !important;
  }
  .event-slider img{
    width: 100vw;
    height: inherit;
  }
}

@media screen and (max-width: 768px) {
  #caption-md-hide {
    display: none;
  }
}
