body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.pd-1{padding: 10px;} .pd-2{padding: 20px;} .pd-l{padding-left:40px } .m-1{margin: 10px} .mt-1{margin-top: 10px} .mt-2{margin-top: 20px} .mt-5{margin-top:  50px;} .mt-3p{margin-top: 30%;} .light-grey-bg{background-color: #eceff1;}
.grey{background-color: #424242;color: #fff;} .Aqua{background:linear-gradient(to top ,#03a9f4, #00bcd4, #00bcd4);}
.white-text{color: #fff;} .white-bg{background-color: #fff; color: #212121}
.op-bg{background: rgba(33,33,33,.7); border: 1px solid #ffc107}
.fs{font-size: 2.5rem} .left-border{border-left: 2px solid #696969;}
.z-1{z-index: 1} .z-2{z-index: 2} .z-3{z-index: 3} .z-4{z-index: 4}
.B-r2{border-radius: 20px} .Border50{border-radius: 50%; border: 4px solid #fff;}
.Orange{color: #ffc107 } .z-depth-1{box-shadow: 0 1px 10px #eee;}

.ContentText
{
  word-spacing: 2px;
  line-height: 20px;
  font-size: .8rem;
}
