{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/center_of_exc.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container z-depth-1 mt-5 light-grey-bg">
        <div class="row grey text-center">
            <div class="col-12 pd-1">
                <h3 style="font-weight:lighter">
                    CENTER OF EXCELLENCE
                </h3>
            </div>
        </div>
        <div class="row pd-1">
            <div class="col-lg-6 col-sm-12 mx-auto pd-1 m-1">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <img class="card-img-top" alt="LOGO">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Name</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived
                            not only five centuries, but also the leap into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mx-auto pd-1 m-1">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <img class="card-img-top" alt="LOGO">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Name</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived
                            not only five centuries, but also the leap into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}



