{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/' %}">

    {% endblock stylesheets %}
    {% block content %}
    <div class="container z-depth-1 mt-5 light-grey-bg">
    
        <div class="row grey text-center">
            <div class="col-12 pd-1">
                <h3 style="font-weight:lighter">
                    Research and Industrial Consultancy Centre (RICC)
                </h3>
            </div>
        </div>
        <div class="row pd-1">
            <div class="col-lg-10 col-sm-12 mx-auto pd-1 m-1">
                Research and Industrial Consultancy Centre(RICC)  has been established in the college to promote industrial consultation and extend consultancy and  Research  as per industry needs. The composition of the RICC, its objective are as follows -

Composition

Chairman:	Dr. R.K. Agarwal, Director
Head, RICC:	Mr. Pradeep Jain, ME Deptt.
Objective


a. To create a collaborative environment between industry and academia through joint projects and consulting assignments.
b. To develop a self sustaining and technologically fertile environment.
c. To encourage and enable the alignment of R&D activities to potential needs of industry.
d. To provide world class infrastructure at AKGEC for R&D activities.


Projects Completed
 

Sr. No. 	TITLE OF PROJECT  / TRAINING	SPONSORING AGENCY	YEAR
1	Computer Aided Design of Grinding Machine	Kalson  Hydromatic Machine Tools, Ghaziabad	2007
2	Reverse Engineering of Grinding    Machine	Kalson  Hydromatic Machine Tools, Ghaziabad	2007
3	Advanced Training in Pro/Engineer for Industrial Professional	CADD Centre, Ghaziabad	2008
4	Fast Track Training Course in Pro/Engineer	Lord Krishna Engg. College, Ghaziabad	2008
5	Short Term Training Program in Auto CAD for Industrial Personnel	Shiv-Vani-Oil-Gas-Exploration-Services-Ltd, Faridabad	2008
6	Training Program in ANSYS	AKGEC, Ghaziabad	2009
7	FEM Analysis of Pressure Vessel Component	Altair Hyper Works	2009
8	Development of Rescue Robot	Creative robotics Pvt. Ltd ,Ghaziabad	2010
9	AutoCAD & Pro/E Training	AKGEC, Ghaziabad	2010
10	Auto CAD Training	BIT, Meerut	2010
11	Virtual Assembly, Design of Roller Fixture	VATEC ENGINEERS, Indore (M.P.)	2010
12	Automatic Visual Inspection System	VERTEX Automation, Noida	2011
13	AutoCAD and Pro/Engineer Training	AKGEC, Ghaziabad	2011
14	AutoCAD and Pro/Engineer Training	AKGEC, Ghaziabad	2012
15	Design of Laser Based Field Leveling System	Apogee Precision Lasers, Ahmedabad	2012
16	Design of Super Structure for Solar Generator	JAKSON Pvt. Ltd., Gr. Noida	2012
17	Design and development of Automatic Ball Sorting Machine	SMC Pneumatics (India) Pvt Ltd , Noida	2013
18	Training in “AutoCAD and Pro/Engineer”	AKGEC, Ghaziabad	2013
19	Development of Vision System for Sheet  Inspection”	Creative Robotics Pvt. Ltd. Ghaziabad	2013
20	Training in “AutoCAD and Pro/Engineer”	AKGEC, Ghaziabad	2013
21	Training in “AutoCAD and Pro/Engineer”	AKGEC, Ghaziabad	2014
22	Optimization of high precision grinding machine bed	Micromatic Grinding Technology Ltd. Ghaziabad.	2014
23	Design and Development of Control Circuit for low costcontroller for hydraulic machines	Micromatic Grinding Technology Ltd. Ghaziabad.	2014
24	IT Asset Management System	Micromatic Grinding Technology Ltd. Ghaziabad.	2014
25	Design and Development of Low cost Microcontroller based interface system	Micromatic Grinding Technology Ltd. Ghaziabad.	2014
26	Diagnostic System for CNC operated Grinding Machine. 	Micromatic Grinding Technology Ltd. Ghaziabad.	2014
27	Training in Pro/E and Ansys	AKGEC, Ghaziabad	2015
28	Training in FEM / Ansys	Hero Majestic,Greater Noida	2016
29	Design of Containerized Solar Generator	Jakson , Noida	2016
30	Design and Development of Condenser Water Box	BHEL , Hardwar	2017
31	Design and Development of FDM based 3D Printer	AKGEC, Ghaziabad	2017
32	Training on 3D Printer	S D Global School, Ghaziabad	2018
33	Awarded 3D Printer in Technovation 	CORE, AKGEC	2018
34	 Developed FDM based 3D Printer	S D Global School, Ghaziabad	2018
            </div>
        </div>
    </div>
    {% endblock content %}



