{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/' %}">

    {% endblock stylesheets %}
    {% block content %}
     <div class="container shdw" style="margin-bottom:50px">
       <div class="row">
         <div class="col-10 mx-auto pd-1">
         {% for info in placement_record %}
          <img src ="{{info.image.url}}", alt="Image"/>
         {% endfor %}
         </div>
       </div>
     </div>
    {% endblock content %}
