{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/' %}">

    {% endblock stylesheets %}
    {% block content %}
     <div class="container shdw" style="margin-bottom:50px">
        <div class="row">
          <div class="col-12 ">
            <div class="row">
              <div class="col-lg-3 col-sm-12">
                {% for info in recruiters_info %}
                 <img class="img-fluid" src ="{{info.image.url}}", alt="Image"/>
                {% endfor %}
              </div>
              <div class="col-lg-3 col-sm-12">
                {% for info in recruiters_info %}
                 <img class="img-fluid" src ="{{info.image.url}}", alt="Image"/>
                {% endfor %}
              </div>
              <div class="col-lg-3 col-sm-12">
                {% for info in recruiters_info %}
                 <img class="img-fluid" src ="{{info.image.url}}", alt="Image"/>
                {% endfor %}
              </div>
              <div class="col-lg-3 col-sm-12">
                {% for info in recruiters_info %}
                 <img class="img-fluid" src ="{{info.image.url}}", alt="Image"/>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

     </div>
    {% endblock content %}
