{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/event.css' %}">

    {% endblock stylesheets %}
    {% block content %}
    
    <div class="container z-depth-1 mt-5 light-grey-bg" style="box-shadow: 0px 2px 5px 0px #bdbdbd; margin-bottom:50px">
      
       <div class="row" >
         <div class="col-12 grey title text-center">
            <h3 style="font-weight:lighter">
                - EVENTS -
            </h3>
         </div>
       </div>  
       <div class="row pd-1" >
         {% for obj in events %}
         <div class="col-4 text-center "><!--event-->
           <div class="row pd-1 ">
             <div class="col-12 event-image">
               <img class="img-fluid" src ="{{obj.image.url}}">
             </div>
             <div class="col-12 aqua" style="height: 40px;">
               <h4 style="font-weight:lighter">{{obj.content}}</h4>
             </div>
           </div>
         </div><!--event - ends-->
         {% endfor %}

        </div>
       </div>
    
    {% endblock content %}
