{% extends 'core/base/base.html' %}
{% load static %}
    {% block stylesheets %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/skill_school.css' %}">
    {% endblock stylesheets %}
    {% block content %}
        <div class="container z-depth-1 mt-5 light-grey-bg" style="box-shadow: 0px 2px 5px 0px #bdbdbd; margin-bottom:50px">
            <div class="row grey text-center">
                <div class="col-12 pd-1">
                  <h3 style="font-weight:lighter">
                    - SKILL DEVELOPMENT PROGRAM FOR VILLAGE SCHOOL STUDENTS -
                  </h3>
                </div>
            </div>

              <div class="row pd-1">
                  <div class="col-lg-10 col-sm-12 mx-auto  pd-1 ContentText m-1">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                          <img class="img-fluid" src="{% static 'core/images/sk-1.jpg' %}" alt="adarsh vikas image">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                            <img class="img-fluid" src="{% static 'core/images/sk-2.jpg' %}" alt="adarsh vikas image">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                            <img class="img-fluid" src="{% static 'core/images/sk-3.jpg' %}" alt="adarsh vikas image">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                            <img class="img-fluid" src="{% static 'core/images/sk-4.jpg' %}" alt="adarsh vikas image">
                        </div>
                        <div class="col-12 mt-4" style="text-align: justify;text-justify: inter-word;">
                          <p>
                              College is conducting various computer training courses as part of its social responsibility in alignment with the “National Skill Development” mission by the Hon’ble Prime Minister of India Shri Narendra Modi. Courses are designed to inculcate computer skills in school going students of nearby villages who are studying in the classes from 9th to 12th standard and are not able to get computer education because of non-availability of adequate infrastructure and resources as well as for students who left their study because of some reason and have interest to gain skill for employability.

                              College evaluates students at the end of each course and meritorious students are awarded cash prizes and certificates for I, II and III positions. Cash prizes and certificates are also awarded for 100% attendance during the program.
                              
                              Under this “National Skill Development Mission”, college has conducted following courses:
                              
                              1.     Software Development Level-1 (08 June to 04 July 2015) course was designed for 100 hrs and 39 students enrolled in it. The course content included Basic Computer Literarcy, Word Processing, Spreadsheet, Power Point Presentation, Email and Internet. College also organized an educational tour to National Science Centre, Delhi for these students so as to enable them to appreciate science in a better way through working models.
                              
                              2.     Basics of C Programming (01 September to 17 October 2015) course was designed for 60 hrs and 31 students enrolled in it. The course included both theory and programming exercises to equip students with requisite programming skill. The classes were scheduled after school timing from 4:00 PM to 6:00 PM.
                              
                              3.     Computer Hardware & Networking (13 June to 13 July 2016) course was designed as advance course for students who have good comprehension in basics of computer literacy. The course included practical exercises of hardware and networking concepts. Objective of the course was to equip students with insight of computer networking fundamentals and computer hardware. The course was designed for 100 hrs and 27 students enrolled in the course. 
                              
                              College also organized an educational tour to Nehru Planetarium, New Delhi on 13 July 2016 for these students to create interest in astronomy. Students were able to understand the working of solar system, stars and planets using demonstration and video lectures. 
                              
                              4.     Computer Basics (13 June to 13 July 2016) course was designed for 100 hrs and 23 students enrolled in it. The course was designed as refresher course in Basic Computer Literacy to inculcate computer awareness among students as well enable them to work with computers in daily life. Major course content consisted of Basics of Computer, MS Office, Email and Internet.
                              
                              College also organized an educational tour to Nehru Planetarium, New Delhi on 13 July 2016 for these students to create interest in astronomy. Students were able to understand the working of solar system, stars and planets using demonstration and video lectures.
                              
                              5.     Computer Fundamentals (20 June to 20 July 2018) With the aim to expose school students from nearby villages to computer fundamentals, The Department of Computer Science and Engineering conducted on Computer Fundamentals from 20 June to 20 July,2018. The course consisted of five modules: Digital Literacy, MS Word, MS Excel, MS Powerpoint and E-mail Messaging. The course spanning over 100 hours was conducted by faculty and staff of the department through classroom sessions, hands-on training, assignments and evaluation tests.
                              
                              The college also organized an education tour to National Science Centre, New Delhi on 28 July, 2018 for these students to create interest among them about science activities and its effect around us.
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
        </div>
    {% endblock content %}
